<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta property="og:image" content="{% static 'track19_fb_preview.png' %}" />
    <meta property="og:image:width" content="234" />
    <meta property="og:image:height" content="129" />

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <title>Track 19</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'vendor/chart.js/Chart.js' %}"></script>
    <script src="{% static 'vendor/underscore/underscore-min.js' %}"></script>
    <script src="{% static 'js/track19.all.min.js' %}"></script>

    <style>
        @media only screen and (max-width: 768px) {
            .chart_card{
                padding-left: 0;
                padding-right: 0;
            }
            #main_content_container{
                padding-left: 0;
                padding-right: 0;
            }
            .navbar{
                margin-bottom: 0 !important;
            }
        }
    </style>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">


        <!-- Main Content -->
        <div id="content">


            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <a class="text-gray-900 sidebar-brand d-flex align-items-center justify-content-center" href="/">
                    <div class="sidebar-brand-icon">
                        <i class="fas fa-chart-line"></i>
                    </div>
                    <div class="sidebar-brand-text mx-1 ">Track&nbsp;19</div>
                </a>


                <div class="topbar-divider"></div>

                <ul class="navbar-nav">

                <li>
                    <button id="" class="btn btn-link" data-toggle="modal" data-target="#chart_configuration_modal" title="Add Chart">
                        <i class="fa fa-plus-circle"></i>
                        <span class="d-xl-inline d-none">Add Chart</span>
                    </button>
                </li>

                {% if page_model %}
                <li>
                    <a href="/?clear=true" class="btn btn-link" title="Clear Charts">
                        <i class="fas fa-trash-alt"></i>
                        <span class="d-xl-inline d-none">Clear Charts</span>
                    </a>
                    <li>
                {% endif %}

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="btn btn-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Example Charts">
                            <i class="fas fa-chart-line"></i>
                            <span class="d-xl-inline d-none">Example Charts</span>
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                            {% for ec in example_charts %}
                            <a class="dropdown-item" href="{% url 'index_page' %}?{{ ec.params }}">
                                <i class="fas fa-chart-line fa-sm fa-fw mr-2 text-gray-400"></i>
                                {{ ec.label }}
                            </a>
                            {% endfor %}
                        </div>
                    </li>



                    <div class="topbar-divider"></div>
                <li class="nav-item dropdown no-arrow">
                    <a class="btn btn-link dropdown-toggle" href="#" id="attr_dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Example Charts">
                        <i class="fas fa-list"></i>
                        <span class="d-xl-inline d-none">Metrics</span>
                    </a>

                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="attr_dropdown">
                        {% for lv_attr in avail_attributes %}
                        {% if lv_attr.value != 'total_tests' and lv_attr.value != 'other_deaths' and lv_attr.value != 'percent_of_population_who_have_had_covid' %}
                        <a class="dropdown-item" href="{% url 'report_attr' lv_attr.value %}">
                            <i class="fas fa-chart-line fa-sm fa-fw mr-2 text-gray-400"></i>
                            {{ lv_attr.label }}
                        </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </li>
                </ul>

                {% if page_model %}
                <div class="topbar-divider"></div>
                    <div class="d-sm-none">
                        <a href="#" class="btn btn-link" data-toggle="modal" data-target="#global_configuration_modal" title="Charts Configuration">
                            <i class="fa fa-cog"></i>
                        </a>
                    </div>
                    <div class="d-md-inline d-none">
                        <a href="#" class="small text-gray-600" data-toggle="modal" data-target="#global_configuration_modal"
                           style="white-space: normal">
                            <i class="fa fa-cog"></i>
                            {{ page_model.earliest_date|default_if_none:"Start of pandemic" }}
                            to {{ page_model.latest_date|default_if_none:"today" }}
                            {% if page_model.rolling_average_size != 1 %}
                                smoothed to a {{ page_model.rolling_average_size }} day rolling-avg
                            {% endif %}
                        </a>
                    </div>
                {% endif %}

                <div class="ml-auto d-md-inline d-none">
                    <a href="{% url 'about' %}" class="">About</a>
                </div>


            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid" id="main_content_container">
                {% block content %}{% endblock %}
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <div>Data fresh as of {{ last_updated }}&nbsp;|&nbsp;Copyright &copy; 2020 Wadiddy, LLC CA&nbsp;|&nbsp;<a href="{% url 'about' %}" class="ml-auto">About</a></div>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<div class="modal fade" id="chart_configuration_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">
                <form>
                    <div class="text-gray-900">Locations:</div>
                    <div class="div_modal_locations_container">
                    </div>

                    <input type="text" class="my-2 small location-selector form-control bg-light border-0 small"
                           placeholder="Search for a Location.." aria-label="Search" aria-describedby="basic-addon2">

                    <hr class="sidebar-divider">

                    <div class="text-gray-900">Metrics:</div>
                    <ul class="div_modal_attributes_container">
                    </ul>

                    <div class="dropdown my-2" id="btn_add_metric">
                        <button class="btn-sm btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Add an Infection Metric
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% for attr_lv in avail_attributes %}
                            <a class="dropdown-item dropdown-item-attribute" value="{{ attr_lv.value }}" href="#">{{ attr_lv.label }}</a>
                            {% endfor %}
                        </div>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <a class="btn btn-primary" href="">OK</a>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="global_configuration_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Settings</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label class="control-label">Earliest Date</label>
                        <input class="form-control" name="earliest_date" id="inp_earliest_date"
                               placeholder="Earliest Date" type="date"
                               value="{{ page_model.earliest_date|default_if_none:"" }}"/>
                    </div>

                    <div class="mb-3">
                        <label class="control-label">Latest Date</label>
                        <input class="form-control" name="latest_date" id="inp_latest_date" placeholder="Earliest Date"
                               type="date" value="{{ page_model.latest_date|default_if_none:"" }}"/>
                    </div>

                    <div class="mb-3">
                        <label class="control-label">Smoothing</label>
                        <select class="form-control" name="rolling_average_size" id="inp_rolling_average_size">
                            <option value=1 {% if page_model.rolling_average_size == 1 %}selected{% endif %}>None
                            </option>
                            <option value=7 {% if page_model.rolling_average_size == 7 %}selected{% endif %}>7 day
                                rolling-avg
                            </option>
                            <option value=14 {% if page_model.rolling_average_size == 14 %}selected{% endif %}>14 day
                                rolling-avg
                            </option>
                            <option value=30 {% if page_model.rolling_average_size == 30 %}selected{% endif %}>30 day
                                rolling-avg
                            </option>
                        </select>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <div class="mr-auto">

                    <a href="{{ page_model.api_url }}" target=_blank><i class="far fa-file-code"></i>&nbsp;api endpoint</a>
                </div>

                <a class="btn btn-primary" href="">OK</a>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id="id_mobile_checker" class="d-sm-none">
</div>


</body>

{% if page_model_json %}
    <script>
        covid_tracker_form( {{ page_model_json | safe }}, {{ avail_locations | safe }}, {{ avail_attributes | safe }},);
    </script>
{% endif %}

</html>


</body>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-174492326-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-174492326-1');
</script>

</html>
