{% extends "mapper_base.html" %}
{% load static %}

{% block content %}
<div class="col-xl-12 d-flex justify-content-center m-3">
    <h1 class="mt-5 ">
        <a target=_blank  href="https://goo.gl/maps/pYRXqR3oQKPXY8as8">Woodcrest Drive</a> - Through Time
    </h1>
</div>

<div class="col-xl-6 offset-xl-3 mb-1">
        <div class="col-xl-12 d-flex justify-content-center">
            <table>
                <tr>
                    <td></td>
                    <td nowrap=true class="d-flex justify-content-center">
                        <button title="Animate" class="btn p-1" id="btn_animate_opacity" href="#"><i class="fas fa-play"></i></button>
                        <button title="zoom in" class="btn p-1" id="btn_zoom_in" href="#"><i class="fas fa-search-plus"></i></button>
                        <button title="zoom out" class="btn p-1" id="btn_zoom_out" href="#"><i class="fas fa-search-minus"></i></button>
                        <button title="reset zoom" class="btn p-1" id="btn_reset" href="#"><i class="fas fa-home"></i></button>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <select id="img_1" class="w-100">
                            <option value="{% static 'mapper_woodcrest/wc_1874.jpg' %}">1874 (Plat Book)</option>
                            <option value="{% static 'mapper_woodcrest/wc_1920.jpg' %}">1920 (Hand-drawn Map)</option>
                            <option value="{% static 'mapper_woodcrest/wc_1921.jpg' %}">1921 (Map)</option>
                            <option value="{% static 'mapper_woodcrest/wc_1930.jpg' %}">1930 (Plat Book)</option>
                            <option value="{% static 'mapper_woodcrest/wc_1938.jpg' %}">1938 (Aerial Photograph)</option>
                            <option value="{% static 'mapper_woodcrest/wc_1939.jpg' %}">1939 (Map)</option>
                            <option value="{% static 'mapper_woodcrest/wc_1948.jpg' %}">1948 (Aerial Photograph)</option>
                            <option value="{% static 'mapper_woodcrest/wc_1957.jpg' %}">1957 (Plat Book)</option>
                            <option value="{% static 'mapper_woodcrest/wc_1960.jpg' %}">1960 (Aerial Photograph)</option>
                            <option value="{% static 'mapper_woodcrest/wc_1968.jpg' %}">1968 (Plat Book)</option>
                            <option value="{% static 'mapper_woodcrest/wc_1975.jpg' %}">1975 (Advertisement)</option>
                            <option value="{% static 'mapper_woodcrest/wc_1978.jpg' %}">1978 (Plat Book)</option>
                            <option value="{% static 'mapper_woodcrest/wc_1979.jpg' %}">1979 (Aerial Photograph)</option>
                            <option value="{% static 'mapper_woodcrest/wc_1982.jpg' %}">1982 (Map)</option>
                            <option value="{% static 'mapper_woodcrest/wc_2020.jpg' %}" selected>2020 (Aerial Photograph)</option>
                        </select>
                    </td>

                    <td>
                        <input type=range max=1 min=0 step=".01" id="inp_opacity"  class="w-100"/>
                    </td>

                    <td>
                        <select id="img_2" class="w-100">
                            <option value="{% static 'mapper_woodcrest/wc_1874.jpg' %}">1874 (Plat Book)</option>
                            <option value="{% static 'mapper_woodcrest/wc_1920.jpg' %}">1920 (Hand-drawn Map)</option>
                            <option value="{% static 'mapper_woodcrest/wc_1921.jpg' %}">1921 (Map)</option>
                            <option value="{% static 'mapper_woodcrest/wc_1930.jpg' %}">1930 (Plat Book)</option>
                            <option value="{% static 'mapper_woodcrest/wc_1938.jpg' %}">1938 (Aerial Photograph)</option>
                            <option value="{% static 'mapper_woodcrest/wc_1939.jpg' %}">1939 (Map)</option>
                            <option value="{% static 'mapper_woodcrest/wc_1948.jpg' %}">1948 (Aerial Photograph)</option>
                            <option value="{% static 'mapper_woodcrest/wc_1957.jpg' %}">1957 (Plat Book)</option>
                            <option value="{% static 'mapper_woodcrest/wc_1960.jpg' %}">1960 (Aerial Photograph)</option>
                            <option value="{% static 'mapper_woodcrest/wc_1968.jpg' %}">1968 (Plat Book)</option>
                            <option value="{% static 'mapper_woodcrest/wc_1975.jpg' %}">1975 (Advertisement)</option>
                            <option value="{% static 'mapper_woodcrest/wc_1978.jpg' %}">1978 (Plat Book)</option>
                            <option value="{% static 'mapper_woodcrest/wc_1979.jpg' %}">1979 (Aerial Photograph)</option>
                            <option value="{% static 'mapper_woodcrest/wc_1982.jpg' %}" selected>1982 (Map)</option>
                            <option value="{% static 'mapper_woodcrest/wc_2020.jpg' %}">2020 (Aerial Photograph)</option>
                        </select>
                    </td>
                </tr>
            </table>
    </div>
</div>


<div class="col-xl-6 offset-xl-3">
    <div style="width: 100%;" class="d-flex justify-content-center">
        <div id="div_zoomer" style="height: 500px;">
            <img id="img_dest_1" src="{% static 'mapper_woodcrest/wc_1982.jpg' %}"
                 style="position: absolute; top: 0; left: 0px;"/>
            <img id="img_dest_2" src="{% static 'mapper_woodcrest/wc_1938.jpg' %}"
                 style="position: absolute; top: 0; left: 0px; opacity: .4"/>
        </div>
    </div>
</div>


<script>
    setInterval(function () {
        $("#img_dest_1")[0].src = $("#img_1").val();
        $("#img_dest_2")[0].src = $("#img_2").val();
        $("#img_dest_2").css("opacity", $("#inp_opacity").val());
    }, 100);
    $("#inp_opacity").val(.75);

    const panzoom = Panzoom(document.getElementById("div_zoomer"), {
        startY: -200,
        startX: -600,
    });
    document.getElementById("btn_zoom_in").addEventListener('click', panzoom.zoomIn);
    document.getElementById("btn_zoom_out").addEventListener('click', panzoom.zoomOut);
    document.getElementById("btn_reset").addEventListener('click', panzoom.reset);
    document.getElementById("inp_zoommer").addEventListener('input', (event) => {
        panzoom.zoom(event.target.valueAsNumber);
    });
</script>
{% endblock %}
